<div class="container">
  <div class="footer-content clearfix">
    <span class="copyright"><i class="fa fa-copyright"></i> 2017 Dima Polishchuk</span>
    <span class="links">
      <a href="https://github.com/DimaPolishuk1995" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://ua.linkedin.com/in/дмитрий-полищук-225874b0" target="_blank"><i class="fa fa-linkedin-square"></i></i></a>
      <a href="https://dimapolishuk1995.github.io/" target="_blank"><i class="fa fa-briefcase"></i></i></a>
    </span>
  </div>
</div>